<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>image0.jpg</string>
		<key>content</key>
		<string>不要拿你的生活跟他人的做比较，你根本不知道人家的人生是怎么一回事.</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>image1.jpg</string>
		<key>content</key>
		<string>认真你就赢了.</string>
	</dict>
	<dict>
		<key>content</key>
		<string>人在世间要受到许多痛苦与灾难，但是，当人们身处这些痛苦与灾难仍然能够自觉地选择某种道德及利他的行为时，他便无形中把痛苦与灾难转换成了某种人生的成就；因其有此成就，而使他在痛苦与灾难之中获得了意义与价值；因其有意义与价值，而使他有了活下去的愿望与追求；因其有了这样的愿望与追求，他就有可能在最为艰难的处境下、在最最痛苦的状态里生存下去，从而使自我的生命保有了尊严，显示出熠熠光辉来。</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>image3.jpg</string>
		<key>content</key>
		<string>可怕的是，比你优秀的人比你还要努力。</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>image4.jpg</string>
		<key>content</key>
		<string>越努力,越幸运</string>
	</dict>
	<dict>
		<key>content</key>
		<string>以大多数人的努力程度之低，根本轮不到去拼天赋！</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>image6.jpg</string>
		<key>content</key>
		<string>当你的才华还撑不起你的野心时，应该静下心去学习。</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>image7.jpg</string>
		<key>content</key>
		<string>绝大多数人，绝大多数时候，人都只能靠自己。没什么背景，没遇到什么贵人，也没读什么好学校，这些都不碍事。关键是，你决心要走哪条路，想成为什么样的人，准备怎样对自己的懒惰下黑手。向前走，相信梦想并坚持。只有这样，你才有机会自我证明，找到你想要的尊严。</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>image8.jpg</string>
		<key>content</key>
		<string>在大学中你要学习的并不是某一门具体的学科,因为这些知识80%都不会在以后用上,那为什么还要学呢?是因为你们需要学习的是那一门学科里面的思维方式,那些才是可以让你受用终身的东西.</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>image9.jpg</string>
		<key>content</key>
		<string></string>
	</dict>
</array>
</plist>
